.site-home {
  [vp-content] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 240px;
  }
}

.list-demo-sns {
  display: inline-block;
}

h3 + .badge {
  margin-top: 1rem;
}
