.site-home {
  .theme-default-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 180px;
  }
}

.list-demo-sns {
  display: inline-block;
}
