:root {
  --c-social-share-trigger: var(--c-text-lightest);
  --c-social-share-plain: var(--c-brand);
  --c-bg-global-social-share: var(--c-bg);
}

.social-share {
  position: relative;
  box-sizing: border-box;
}

.social-share-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.social-share-network {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.social-share-trigger {
  color: var(--c-social-share-trigger);
}

.social-share-btn {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  border-radius: 50%;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
}

.social-share-btn:not(.social-share-trigger) {
  color: var(--c-social-share-plain);
}

.social-share-btn:not(.social-share-trigger):hover {
  background-color: rgba(188, 188, 188, 0.15);
}

.social-share-icon-svg svg {
  width: 1em !important;
  height: 1em !important;
  fill: currentcolor !important;
  vertical-align: -0.15em !important;
  overflow: hidden !important;
}

.social-share-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-share-global {
  position: fixed;
  right: 0;
  bottom: 50%;
  z-index: 99999;
  background-color: var(--c-bg-global-social-share);
  border: 1px solid var(--c-border);
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
  transform: translate(0, 50%);
  transition: all 0.3s ease-out;
  box-shadow: -2px 1px 0.35rem rgba(0, 0, 0, 0.08);
}

.social-share-global .social-share-network {
  display: block;
}

.social-share-global .social-share-btn {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.3rem;
  font-size: 2.25rem;
}

.social-share-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  opacity: 0;
}

.social-share-overlay.show {
  opacity: 1;
}

.social-share-qrcode {
  display: block;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 767px) {
  .social-share-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.75rem;
  }

  .social-share-global {
    bottom: 15%;
    border-radius: 0.25rem 0 0 0.25rem;
    transform: translate(0, 0);
    box-shadow: -1px 1px 0.2rem rgba(0, 0, 0, 0.03);
  }

  .social-share-global .social-share-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.75rem;
    border-radius: 0.2rem;
  }
}

@media print {
  .social-share-hide-when-print {
    display: none !important;
  }
}
